body{
    margin: 0%;
    background-color: rgb(131, 129, 128);
    font-family: poppins;
}
#mainImg{
    height: 100vh;
    float: right;
}
#imageContainer{
    position: absolute;
    left: 60%;
    
}

#page{
     width: 50%;
     position: absolute;
}
#description{
    text-align: center;
    color: rgb(231, 231, 231);;
    font-size: 40px;
    margin-top: 25%;
    margin-left: 15%;
    padding-top: 10%;
    padding-bottom: 20%;
    
}
#getStarted{
    position: absolute;
    top: 85%;
    color: rgb(255, 102, 13);
    font-weight: bold;
    font-size: 20px;
    left: 52%;
    width: 300px;
    height: 50px;
    transform: translate(-50%, -50%);
    background-color: rgb(231, 231, 231);
    border-radius: 25px;
    border: none;
    /* border: 1px solid rgb(255, 102, 13); */
}
#login{
    position: absolute;
    color: rgb(255, 102, 13);
    font-size: 20px;
    top: 100%;
    left: 52%;
    font-weight: bold;
    width: 300px;
    height: 50px;
    transform: translate(-50%, -50%);
    background-color: rgb(231, 231, 231);
    border-radius: 25px;
    border: none;
    /* border: 1px solid rgb(255, 102, 13); */
}
#logo{
    position: absolute;
    top: 0%;
    left: 30%;
    width: 50px;
    height: 100px;
    color:white;
    font-weight: bold;
    font-size: 70px;
   
}