body{
    background-image: url('../images/background.gif');
    background-repeat: no-repeat;
    background-color: black;
    margin: 0%;
    font-family: 'Roboto', sans-serif;
    }
div{
    margin: 0%;
    padding: 0%;
}
#page{
    width: 50%;
    margin-left: 50%;
    left: 50%; 
     
}
#logo{
width: 100px;
height: 100px;
}
.upper{
 width: 50%;
 float: left;


}

.layout{
    display: float;   
}
#container{
    float: right;
    width: 80%; 
    height: 88%;
    margin-left: 10%;
    border-radius: 15px;
    /* border: 2px solid white; */
    
}
form {
    padding-left: 10%;

}
input[type=text],
input[type=password], input[type=email] {
    background-color: black;
    width: 80%;
    font-size: 16px;
    color: #ccc;
    padding: 12px 20px;
    margin: 3px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 12px;
}

/* label {
    font-size: 20px;
    color: #ccc;
    padding: top 20px;
    
} */
input[type=text],
input[type=password]::after {


}
#container h3 {
    padding-left: 40px;
    font-size: 30px;
    color: #ccc;
    padding-top: 2%;
    margin-bottom: 15px;
}

input[type=submit] {
    width: 80%;
    background-color: rgb(2, 2, 94);
    color: #ccc;
    padding: 12px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
}
input[type=submit]:hover{
    transform: scale(1.1);
}
#c1{
    text-align: center;
    font-style: italic;
    font-size: 18px;
    color: #9c9c9c;
    font-weight: bolder;

}

a {
    color: #ccc;
    font-size: 18px;
    font-weight: bold;
    text-decoration-color: white;

}
.description{
    text-align: left;
    font-size: 20px;
    color: #ccc;
    font-weight: bold;
    margin-left: 5%;
    margin-top: 70%;
    margin-bottom: 10%;
}

button {
    width: 70%;
    height: 50px;
    display: flex;
    margin: 5% 10%;
    padding: 12px 15px;
    padding-right: 30px;
    font-size: 16px;
    /* line-height: 1.25rem; */
    font-weight:bold;
    text-align: center;
    text-transform: uppercase;
    white-space:nowrap;
    align-items: center;
    border-radius: 0.5rem;
    justify-content: center;
    background-color: rgb(32, 31, 31);
    border: none;
    border-radius: 20px;
    transition: all .6s ease;
    color: #ccc;
}

button:hover {
    transform: scale(1.02);
}



@keyframes square-animation {
    0% {
        left: 0;
        top: 0;
    }

    10.5% {
        left: 0;
        top: 0;
    }

    12.5% {
        left: 16px;
        top: 0;
    }

    23% {
        left: 16px;
        top: 0;
    }

    25% {
        left: 32px;
        top: 0;
    }

    35.5% {
        left: 32px;
        top: 0;
    }

    37.5% {
        left: 32px;
        top: 32px;
    }

    48% {
        left: 32px;
        top: 32px;
    }

    50% {
        left: 16px;
        top: 32px;
    }

    60.5% {
        left: 16px;
        top: 32px;
    }

    62.5% {
        left: 16px;
        top: 32px;
    }

    73% {
        left: 16px;
        top: 32px;
    }

    75% {
        left: 0;
        top: 32px;
    }

    85.5% {
        left: 0;
        top: 16px;
    }

    87.5% {
        left: 0;
        top: 16px;
    }

    98% {
        left: 0;
        top: 16px;
    }

    100% {
        left: 0;
        top: 0;
    }
}

.loader {
    position: relative;
    margin: 3% 5%;
    width: 26px;
    height: 26px;
    transform: rotate(45deg);
    float: left;
}

.loader-square {
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    margin: 1px;
    border-radius: 0px;
    background: #ccc;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    animation: square-animation 10s ease-in-out infinite both;
}

.loader-square:nth-of-type(0) {
    animation-delay: 0s;
}

.loader-square:nth-of-type(1) {
    animation-delay: -1.4285714286s;
}

.loader-square:nth-of-type(2) {
    animation-delay: -2.8571428571s;
}

.loader-square:nth-of-type(3) {
    animation-delay: -4.2857142857s;
}

.loader-square:nth-of-type(4) {
    animation-delay: -5.7142857143s;
}

.loader-square:nth-of-type(5) {
    animation-delay: -7.1428571429s;
}

.loader-square:nth-of-type(6) {
    animation-delay: -8.5714285714s;
}

.loader-square:nth-of-type(7) {
    animation-delay: -10s;
}
#brand {
    font-size: 25px;
    color: #ccc;
    font-weight: bold;
    float: right;
    margin-top: 5%;

}

.logo {
    width: 200px;
    margin-left: 5%;
    margin-top: 5%;
    display: inline-block;
}