body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: grid;
  grid-template-columns: 70px 1fr;
}

.border {
  border: 1px solid #333;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  height: 100%;
  padding: 0 6.25rem;
  overflow: hidden;
}

.w-full {
  width: 100%;
}

.sidebar {
  background-color: #1e2324;
  height: 100vh;
  overflow: hidden;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.2);
}

.response {
  background-color: #1e2324;
  border-radius: 10px;
  color: #fff;
}

.prompt-box {
  display: flex;
  padding-bottom: 3.75rem;
}

textarea {
  width: 100%;
}
