body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: grid;
  grid-template-columns: 70px 1fr;
  background-color: #333;
}

.border {
  border: 1px solid #333;
}

.container {
  display: flex;
  flex-direction: column; 
  height: 100%;
  padding: 0 6.25rem;
}

.w-full {
  width: 100%;
}

.sidebar {
  background-color: #1e2324;
  height: 100vh;
  overflow: hidden;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.2);
}

.response {
  background-color: #1e2324;
  border-radius: 10px;
  color: #fff;
  margin: 1.25rem 0;
  padding: 0.75rem;
}

.prompt-box {
  border: 1px solid #333;
  border-radius: 10px;
  display: flex;
}

section > div:first-child {
    position: sticky;
    top: 0;
    z-index: 10;
}

textarea {
  background-color: #1e2324;
  color: #fff;
  width: 100%;
  resize: none;
  border: none;
}

/* 
TODO
- Remove the border from the textarea
- Add a border to the prompt box
- Remove border from send button
*/


button {
  height: 50px;
  margin: 5px;
  width: 120px;
  background: #333;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Consolas, Courier New, monospace;
  border: solid #404C5D 1px;
  font-size: 16px;
  color: rgb(161, 161, 161);
  -webkit-transition: 500ms;
  transition: 500ms;
  border-radius: 5px;
  background: linear-gradient(145deg, #2e2d2d, #212121);
  -webkit-box-shadow: -1px -5px 15px #41465B,
    5px 5px 15px #41465B,
    inset 5px 5px 10px #212121,
    inset -5px -5px 10px #212121;
  box-shadow: -1px -5px 15px #41465B,
    5px 5px 15px #41465B,
    inset 5px 5px 10px #212121,
    inset -5px -5px 10px #212121;
}

button:hover {
  -webkit-box-shadow: 1px 1px 13px #20232e,
    -1px -1px 13px #545b78;
  box-shadow: 1px 1px 13px #20232e,
    -1px -1px 13px #545b78;
  color: #d6d6d6;
  -webkit-transition: 500ms;
  transition: 500ms;
}

button:active {
  -webkit-box-shadow: 1px 1px 13px #20232e,
    -1px -1px 33px #545b78;
  box-shadow: 1px 1px 13px #20232e,
    -1px -1px 33px #545b78;
  color: #d6d6d6;
  -webkit-transition: 100ms;
  transition: 100ms;
}